<div class="banner row justify-content-center banner">
  <div class="col-12 d-flex flex-row justify-content-around align-items-center h-100">
    <%= image_tag 'IMG_7056.jpg', alt: "profile photo", class: 'avatar' %>
      <div class="f-lex ms-5">
        <h1 class="title-main">Soren's Web Development Portfolio</h1>
        <p>A fullstack web developer based out of Osaka</p>
      </div>
  </div>
</div>
